html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    --accent-color: #f3774c;

    --standard-radius: .33rem;

    --color-dark: #2d2d2d;
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
body {
    margin: 0;
    padding: 0;

    background: white;
    font-family: "Arial", serif;

    height: 100%;
    width: 100%;

    word-break: break-word;
    scroll-behavior: smooth;
    scroll-snap-stop: always;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;

    user-select: none;
}

.header-frame {
    width: 100%;
    height: auto;
    border: none;
}

.big-divider {

    padding: 0;

    border-top: #888888;
    border-bottom: #888888;

    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;

    border-bottom-width: thin;
    border-style: solid;
}
.small-divider {
    background: #888888;
    height: 1px;
}

.main {
    color: black;
}

.slim-fit {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 0;

    scroll-snap-type: y proximity;
}

.header-bar {
    z-index: 1;
    width: 100%;

    padding-top: 1em;
    padding-right: 2em;
    padding-left: 2em;

    border-bottom: 1px solid rgba(218, 218, 218, 0.58);

    background-color: var(--color-dark);
    color: white;

    position: fixed;

    display: flex;
    gap: 16px;

    top: 0;

    vertical-align: middle;

    user-select: none;

    box-shadow: var(--color-dark) 0 0 8px;
}

.header-bar .header-title {
    font-family: "Arial Black", serif;
    font-weight: 100;
    font-size: 48px;
    vertical-align: middle;
    width: auto;
    text-shadow: rgba(255, 255, 255, 0.5) 0 0 2px;
}
.header-bar .logo {
    margin-left: auto;
    margin-right: 5em;

    filter: invert(100%) brightness(115%);
}

.header-bar #nav span {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}
.header-bar #nav span a {
    color: whitesmoke;
}
.header-bar #nav span a:hover {
    color: #FFA726;
}

.header-bar #nav {
    vertical-align: center;
}

.top-holder {
    width: 100%;
    display: flex;

    margin-top: 1em;
    margin-bottom: 1em;

    user-select: none;
}

.img-holder {
    float: left;
    height: available;
    width: 45%;
    text-align: left;
}
.img-holder img {
    box-shadow: rgba(0, 0, 0, 255) 2px 2px 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 4px;
}

.image-button {
    background: transparent;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: none;
}
.image-button img {
    width: auto;
}
.image-button:hover {
    /*background: #ececec;*/
    box-shadow: 0 0 4px var(--accent-color);
    border-color: var(--accent-color);
}

footer {
    position: fixed;
    bottom: 0;
}
.footer {
    font-family: "Amatic SC", cursive;
    padding: 2em;

    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;

    display: flex;
    width: available;

    color: grey;
}
.footer .links span {
    margin: 1em;
    color: #ffffff;
}

.footer .right {
    text-align: right;
    float: right;
    margin-right: 0;
    margin-left: auto;
    width: auto;
}
.right {
    text-align: right;
    position: relative;
    right: 0;
    width: auto;
}
.top {
    top:  0;
}

.footer a {
    text-decoration: none;
    color: grey;
}

iframe {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--standard-radius);
    border-color: grey;
}

.text-center {
    text-align: center;
}

#questioncard {
    border-radius: 8px;
}

.italic {
    font-style: italic;
}

.sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon {
    max-height: 64px;
}

button {
    padding: .5em 1em;
    background: white;
    border: grey 1px solid;
    border-radius: 2em;

    user-select: none;

    box-shadow: rgb(131, 131, 131) 0 0 2px;

    transition-duration: 100ms;

    min-width: fit-content;
    max-height: min-content;
    height: min-content;
    display: inline-flex;
}
button:hover {
    border-color: var(--accent-color);
    box-shadow: var(--accent-color) 0 0 4px;
}

.overview-box {
    width: 100%;
    display: grid;
}
.overview-box div {
    z-index: 0;
    width: auto;
    display: inline;
}
.overview-box div .card {
    transition-duration: 150ms;
    min-width: 160px;
    min-height: 128px;
    max-width: 160px;
    max-height: 128px;
    overflow: hidden;
    margin: 1em;
    display: inline-flex;
}
.overview-box div .card div {
    display: grid;
}
.overview-box div .card div .desc {
    position: absolute;
    bottom: 1em;
    margin-right: 1em;
}
.overview-box .card:hover {
    box-shadow: 0 0 8px orange;
}

.shadow-highlight {
    box-shadow: 2px 2px 4px white;
}

.title-holder {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.title-holder div {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.list-view {
    width: 100%;

    display: flex;
    gap: 32px;

}
.overflow-scroll {
    overflow-y: clip;
}
.wrap {
    flex-wrap: wrap;
}

.item-content {
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 2fr 1.1fr;
    gap: 8px;
}

input {
    padding: .5em 1em;
    background: white;
    border: grey 1px solid;
    border-radius: 2em;

    transition-duration: 100ms;
}
textarea {
    padding: .5em 1em;
    background: white;
    border: grey 1px solid;
    border-radius: 1.5em;

    transition-duration: 100ms;
}
input:hover {
    border-color: var(--accent-color);
    box-shadow: var(--accent-color) 0 0 4px;
}
textarea:hover {
    border-color: var(--accent-color);
    box-shadow: var(--accent-color) 0 0 4px;
}

/* Desktop */
@media screen and (min-width: 901px) {
    .small-divider {
        width: 33%;
    }
    .header-bar summary {
        color: transparent;
    }
}

/* Mobile */
@media screen and (max-width: 900px) {
    .small-divider {
        width: 66%;
    }

    .header-bar {
        display: block;
    }
    .header-bar #nav {
        display: grid;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .header-bar details {
        margin-bottom: 1em;
        color: white;
    }

    .overview-box div {
        z-index: 0;
        width: 100%;
        max-width: 100%;
    }
    .overview-box div .card {
        z-index: 0;
        width: available;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 80%;
    }

    .top-holder {
        display: block;
    }
    .img-holder {
        width: 100%;
        margin-bottom: 1em;
    }

    .slim-fit {
        width: 80%;
    }
}



